@font-face {
  font-family: ULTRAFONT;
  src: url(../fonts/VCR_OSD_MONO.ttf);
}
#titlebar {
  height: 16px;
  background-image: repeating-linear-gradient(
    to bottom,
    #992222,
    #802222,
    #902222,
    #992222
  );
  border: 2px solid #511;
  border-radius: 6px 6px 0px 0px;
  color: white;
  padding: 4px;
  padding-left: 24px;
  text-shadow: 2px 2px 0px #000;
  user-select: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#main {
  background-color: #2a2a2a;
  border: 4px double #000;
  border-top: 1.5px solid #000;
  padding: 4px;
  color: white;
  height: 258px;
  text-align: center;
}
#completionState {
  transition-duration: 200ms;
  transition-timing-function: linear;
}
.useless {
  display: inline-block;
  position: fixed;
  margin-right: 4px;
  font-weight: 900;
  padding: 0px;
  color: #0000;
  text-shadow: 0px -3px 0px #511;
  background-color: #922;
  border: 2px solid #511;
  border-radius: 6px;
  width: 18px;
  height: 18px;
}
.useful {
  font-family: "ULTRAFONT", "Courier New", Courier, monospace;
  border: 2px solid #000;
  border-radius: 4px;
  padding: 7px 13px;
  color: white;
  height: 32px;
  background-image: linear-gradient(
    to bottom,
    #7b7b7b,
    #5b5b5b 3px,
    #3a3a3a,
    #1b1b1b 26px,
    #5b5b5b 48px
  );
}
.useful:hover {
  font-family: "ULTRAFONT", "Courier New", Courier, monospace;
  border: 2px solid #000;
  border-radius: 4px;
  padding: 7px 13px;
  color: white;
  height: 32px;
  background-image: linear-gradient(
    to bottom,
    #ababab,
    #6b6b6b 3px,
    #4a4a4a,
    #1b1b1b 26px,
    #6b6b6b 48px
  );
}
.useful:disabled,
.useful:hover:active {
  font-family: "ULTRAFONT", "Courier New", Courier, monospace;
  border: 2px solid #000;
  border-radius: 4px;
  padding: 7px 13px;
  color: #999;
  height: 32px;
  background-image: linear-gradient(
    to bottom,
    #1b1b1b,
    #3a3a3a 3px,
    #1b1b1b,
    #3a3a3a 26px,
    #7b7b7b 48px
  );
}
.icon {
  display: inline-block;
  position: fixed;
  margin: none;
  left: 4px;
  top: 6px;
  font-weight: 900;
  text-shadow: none;
  color: #511;
  transform: rotate(270deg) scaleX(0.8);
}
body {
  background-color: #0000;
  color: #fff8;
  margin: 0px;
  font-family: "ULTRAFONT", "Courier New", Courier, monospace;
  text-transform: uppercase;
  overflow: hidden;
}
img {
  user-select: none;
  filter: drop-shadow(3px 3px 0px #522) drop-shadow(-3px -3px 0px #922);
}
